<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.AirMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Air">
    <id column="air_id" jdbcType="INTEGER" property="airId" />
    <result column="air_tem" jdbcType="INTEGER" property="airTem" />
    <result column="air_wsp" jdbcType="INTEGER" property="airWsp" />
    <result column="air_wdir" jdbcType="INTEGER" property="airWdir" />
    <result column="air_gid" jdbcType="INTEGER" property="airGid" />
  </resultMap>
  <sql id="Base_Column_List">
    air_id, air_tem, air_wsp, air_wdir, air_gid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_air
    where air_id = #{airId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_air
    where air_id = #{airId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Air">
    insert into t_air (air_id, air_tem, air_wsp, 
      air_wdir, air_gid)
    values (#{airId,jdbcType=INTEGER}, #{airTem,jdbcType=INTEGER}, #{airWsp,jdbcType=INTEGER}, 
      #{airWdir,jdbcType=INTEGER}, #{airGid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Air">
    insert into t_air
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airId != null">
        air_id,
      </if>
      <if test="airTem != null">
        air_tem,
      </if>
      <if test="airWsp != null">
        air_wsp,
      </if>
      <if test="airWdir != null">
        air_wdir,
      </if>
      <if test="airGid != null">
        air_gid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airId != null">
        #{airId,jdbcType=INTEGER},
      </if>
      <if test="airTem != null">
        #{airTem,jdbcType=INTEGER},
      </if>
      <if test="airWsp != null">
        #{airWsp,jdbcType=INTEGER},
      </if>
      <if test="airWdir != null">
        #{airWdir,jdbcType=INTEGER},
      </if>
      <if test="airGid != null">
        #{airGid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Air">
    update t_air
    <set>
      <if test="airTem != null">
        air_tem = #{airTem,jdbcType=INTEGER},
      </if>
      <if test="airWsp != null">
        air_wsp = #{airWsp,jdbcType=INTEGER},
      </if>
      <if test="airWdir != null">
        air_wdir = #{airWdir,jdbcType=INTEGER},
      </if>
      <if test="airGid != null">
        air_gid = #{airGid,jdbcType=INTEGER},
      </if>
    </set>
    where air_id = #{airId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Air">
    update t_air
    set air_tem = #{airTem,jdbcType=INTEGER},
      air_wsp = #{airWsp,jdbcType=INTEGER},
      air_wdir = #{airWdir,jdbcType=INTEGER},
      air_gid = #{airGid,jdbcType=INTEGER}
    where air_id = #{airId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from t_air
  </select>
  <update id="updateTem" parameterType="java.lang.Integer">
    update t_air set air_tem = #{airTem,jdbcType=INTEGER} where air_id = 1
  </update>

  <update id="updateWsp" parameterType="java.lang.Integer">
    update t_air set air_wsp = #{airWsp,jdbcType=INTEGER} where air_id = 1
  </update>

  <update id="updateWdir" parameterType="java.lang.Integer">
    update t_air set air_wdir = #{airWdir,jdbcType=INTEGER} where air_id = 1
  </update>
</mapper>