<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.CarMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Car">
    <id column="car_id" jdbcType="BIGINT" property="carId" />
    <result column="car_uid" jdbcType="BIGINT" property="carUid" />
    <result column="car_gid" jdbcType="BIGINT" property="carGid" />
    <result column="car_gcount" jdbcType="BIGINT" property="carGcount" />
    <result column="car_flag" jdbcType="INTEGER" property="carFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    car_id, car_uid, car_gid, car_gcount, car_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_car
    where car_id = #{carId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_car
    where car_id = #{carId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Car">
    insert into t_car (car_id, car_uid, car_gid, 
      car_gcount, car_flag)
    values (#{carId,jdbcType=BIGINT}, #{carUid,jdbcType=BIGINT}, #{carGid,jdbcType=BIGINT}, 
      #{carGcount,jdbcType=BIGINT}, #{carFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Car">
    insert into t_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        car_id,
      </if>
      <if test="carUid != null">
        car_uid,
      </if>
      <if test="carGid != null">
        car_gid,
      </if>
      <if test="carGcount != null">
        car_gcount,
      </if>
      <if test="carFlag != null">
        car_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="carUid != null">
        #{carUid,jdbcType=BIGINT},
      </if>
      <if test="carGid != null">
        #{carGid,jdbcType=BIGINT},
      </if>
      <if test="carGcount != null">
        #{carGcount,jdbcType=BIGINT},
      </if>
      <if test="carFlag != null">
        #{carFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Car">
    update t_car
    <set>
      <if test="carUid != null">
        car_uid = #{carUid,jdbcType=BIGINT},
      </if>
      <if test="carGid != null">
        car_gid = #{carGid,jdbcType=BIGINT},
      </if>
      <if test="carGcount != null">
        car_gcount = #{carGcount,jdbcType=BIGINT},
      </if>
      <if test="carFlag != null">
        car_flag = #{carFlag,jdbcType=INTEGER},
      </if>
    </set>
    where car_id = #{carId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Car">
    update t_car
    set car_uid = #{carUid,jdbcType=BIGINT},
      car_gid = #{carGid,jdbcType=BIGINT},
      car_gcount = #{carGcount,jdbcType=BIGINT},
      car_flag = #{carFlag,jdbcType=INTEGER}
    where car_id = #{carId,jdbcType=BIGINT}
  </update>
  <select id="getAllCar" parameterType="Long" resultMap="BaseResultMap">
    select * from t_car where car_uid = #{carUid,jdbcType=BIGINT}
  </select>

  <update id="updateAllCar" parameterType="Long">
    update t_car set car_flag = 0 where car_uid = #{carUid,jdbcType=BIGINT}
  </update>

  <update id="updateOneCar" parameterType="Long">
    update t_car set car_flag = 0 where car_id = #{carId,jdbcType=BIGINT}
  </update>

  <update id="updateCarcount">
    update t_car set car_gcount = #{carGcount,jdbcType=BIGINT} where car_gid = #{carGid,jdbcType=BIGINT}
  </update>
    <select id="selectMaxId" resultType="Long">
       select max(car_id) from t_car
    </select>
</mapper>