<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.EquipmentMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Equipment">
    <id column="eq_id" jdbcType="INTEGER" property="eqId" />
    <result column="eq_gid" jdbcType="INTEGER" property="eqGid" />
    <result column="eq_uid" jdbcType="INTEGER" property="eqUid" />
    <result column="eq_flag" jdbcType="INTEGER" property="eqFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    eq_id, eq_gid, eq_uid, eq_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_equir
    where eq_id = #{eqId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_equir
    where eq_id = #{eqId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Equipment">
    insert into t_equir (eq_id, eq_gid, eq_uid, 
      eq_flag)
    values (#{eqId,jdbcType=INTEGER}, #{eqGid,jdbcType=INTEGER}, #{eqUid,jdbcType=INTEGER}, 
      #{eqFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Equipment">
    insert into t_equir
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eqId != null">
        eq_id,
      </if>
      <if test="eqGid != null">
        eq_gid,
      </if>
      <if test="eqUid != null">
        eq_uid,
      </if>
      <if test="eqFlag != null">
        eq_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eqId != null">
        #{eqId,jdbcType=INTEGER},
      </if>
      <if test="eqGid != null">
        #{eqGid,jdbcType=INTEGER},
      </if>
      <if test="eqUid != null">
        #{eqUid,jdbcType=INTEGER},
      </if>
      <if test="eqFlag != null">
        #{eqFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Equipment">
    update t_equir
    <set>
      <if test="eqGid != null">
        eq_gid = #{eqGid,jdbcType=INTEGER},
      </if>
      <if test="eqUid != null">
        eq_uid = #{eqUid,jdbcType=INTEGER},
      </if>
      <if test="eqFlag != null">
        eq_flag = #{eqFlag,jdbcType=INTEGER},
      </if>
    </set>
    where eq_id = #{eqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Equipment">
    update t_equir
    set eq_gid = #{eqGid,jdbcType=INTEGER},
      eq_uid = #{eqUid,jdbcType=INTEGER},
      eq_flag = #{eqFlag,jdbcType=INTEGER}
    where eq_id = #{eqId,jdbcType=INTEGER}
  </update>
  <select id="selectEqByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from t_equir where eq_uid = #{eqUid,jdbcType=INTEGER}
  </select>
</mapper>