<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.GoodsTypeMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.GoodsType">
    <id column="gt_id" jdbcType="INTEGER" property="gtId" />
    <result column="gt_name" jdbcType="VARCHAR" property="gtName" />
    <result column="gt_img" jdbcType="VARCHAR" property="gtImg" />
    <result column="gt_flag" jdbcType="INTEGER" property="gtFlag" />
    <result column="gt_kind" jdbcType="INTEGER" property="gtKind" />
  </resultMap>
  <sql id="Base_Column_List">
    gt_id, gt_name, gt_img, gt_flag, gt_kind
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goodstype
    where gt_id = #{gtId,jdbcType=INTEGER}
  </select><select id="selectAllGoodsType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_goodstype
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goodstype
    where gt_id = #{gtId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.GoodsType">
    insert into t_goodstype (gt_id, gt_name, gt_img, 
      gt_flag, gt_kind)
    values (#{gtId,jdbcType=INTEGER}, #{gtName,jdbcType=VARCHAR}, #{gtImg,jdbcType=VARCHAR}, 
      #{gtFlag,jdbcType=INTEGER}, #{gtKind,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.GoodsType">
    insert into t_goodstype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gtId != null">
        gt_id,
      </if>
      <if test="gtName != null">
        gt_name,
      </if>
      <if test="gtImg != null">
        gt_img,
      </if>
      <if test="gtFlag != null">
        gt_flag,
      </if>
      <if test="gtKind != null">
        gt_kind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gtId != null">
        #{gtId,jdbcType=INTEGER},
      </if>
      <if test="gtName != null">
        #{gtName,jdbcType=VARCHAR},
      </if>
      <if test="gtImg != null">
        #{gtImg,jdbcType=VARCHAR},
      </if>
      <if test="gtFlag != null">
        #{gtFlag,jdbcType=INTEGER},
      </if>
      <if test="gtKind != null">
        #{gtKind,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.GoodsType">
    update t_goodstype
    <set>
      <if test="gtName != null">
        gt_name = #{gtName,jdbcType=VARCHAR},
      </if>
      <if test="gtImg != null">
        gt_img = #{gtImg,jdbcType=VARCHAR},
      </if>
      <if test="gtFlag != null">
        gt_flag = #{gtFlag,jdbcType=INTEGER},
      </if>
      <if test="gtKind != null">
        gt_kind = #{gtKind,jdbcType=INTEGER},
      </if>
    </set>
    where gt_id = #{gtId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.GoodsType">
    update t_goodstype
    set gt_name = #{gtName,jdbcType=VARCHAR},
      gt_img = #{gtImg,jdbcType=VARCHAR},
      gt_flag = #{gtFlag,jdbcType=INTEGER},
      gt_kind = #{gtKind,jdbcType=INTEGER}
    where gt_id = #{gtId,jdbcType=INTEGER}
  </update>
</mapper>