<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Goods">
    <id column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_style" jdbcType="VARCHAR" property="goodsStyle" />
    <result column="goods_count" jdbcType="INTEGER" property="goodsCount" />
    <result column="goods_commentnum" jdbcType="INTEGER" property="goodsCommentnum" />
    <result column="goods_gtid" jdbcType="INTEGER" property="goodsGtid" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
    <result column="goods_flag" jdbcType="INTEGER" property="goodsFlag" />
    <result column="goods_model" jdbcType="VARCHAR" property="goodsModel" />
    <result column="goods_sales" jdbcType="BIGINT" property="goodsSales" />
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, goods_name, goods_style, goods_count, goods_commentnum, goods_gtid, goods_img, 
    goods_price, goods_flag, goods_model, goods_sales
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </select><select id="selectHotGoodsByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from t_goods g where g.goods_gtid = #{TypeId,jdbcType=BIGINT} order by g.goods_sales desc limit 3
  </select><select id="selectAllGoods" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from t_goods
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Goods">
    insert into t_goods (goods_id, goods_name, goods_style, 
      goods_count, goods_commentnum, goods_gtid, 
      goods_img, goods_price, goods_flag, 
      goods_model, goods_sales)
    values (#{goodsId,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{goodsStyle,jdbcType=VARCHAR}, 
      #{goodsCount,jdbcType=INTEGER}, #{goodsCommentnum,jdbcType=INTEGER}, #{goodsGtid,jdbcType=INTEGER}, 
      #{goodsImg,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DOUBLE}, #{goodsFlag,jdbcType=INTEGER}, 
      #{goodsModel,jdbcType=VARCHAR}, #{goodsSales,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Goods">
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsStyle != null">
        goods_style,
      </if>
      <if test="goodsCount != null">
        goods_count,
      </if>
      <if test="goodsCommentnum != null">
        goods_commentnum,
      </if>
      <if test="goodsGtid != null">
        goods_gtid,
      </if>
      <if test="goodsImg != null">
        goods_img,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="goodsFlag != null">
        goods_flag,
      </if>
      <if test="goodsModel != null">
        goods_model,
      </if>
      <if test="goodsSales != null">
        goods_sales,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsStyle != null">
        #{goodsStyle,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null">
        #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="goodsCommentnum != null">
        #{goodsCommentnum,jdbcType=INTEGER},
      </if>
      <if test="goodsGtid != null">
        #{goodsGtid,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null">
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsFlag != null">
        #{goodsFlag,jdbcType=INTEGER},
      </if>
      <if test="goodsModel != null">
        #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsSales != null">
        #{goodsSales,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Goods">
    update t_goods
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsStyle != null">
        goods_style = #{goodsStyle,jdbcType=VARCHAR},
      </if>
      <if test="goodsCount != null">
        goods_count = #{goodsCount,jdbcType=INTEGER},
      </if>
      <if test="goodsCommentnum != null">
        goods_commentnum = #{goodsCommentnum,jdbcType=INTEGER},
      </if>
      <if test="goodsGtid != null">
        goods_gtid = #{goodsGtid,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null">
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsFlag != null">
        goods_flag = #{goodsFlag,jdbcType=INTEGER},
      </if>
      <if test="goodsModel != null">
        goods_model = #{goodsModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsSales != null">
        goods_sales = #{goodsSales,jdbcType=BIGINT},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Goods">
    update t_goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_style = #{goodsStyle,jdbcType=VARCHAR},
      goods_count = #{goodsCount,jdbcType=INTEGER},
      goods_commentnum = #{goodsCommentnum,jdbcType=INTEGER},
      goods_gtid = #{goodsGtid,jdbcType=INTEGER},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DOUBLE},
      goods_flag = #{goodsFlag,jdbcType=INTEGER},
      goods_model = #{goodsModel,jdbcType=VARCHAR},
      goods_sales = #{goodsSales,jdbcType=BIGINT}
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  <select id="selectByGoodsName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from t_goods where goods_name = #{goodsName,jdbcType=VARCHAR}
  </select>


</mapper>