<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.ImpMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Imp">
    <id column="i_id" jdbcType="INTEGER" property="iId" />
    <result column="i_gid" jdbcType="INTEGER" property="iGid" />
    <result column="i_img" jdbcType="VARCHAR" property="iImg" />
    <result column="i_flag" jdbcType="INTEGER" property="iFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    i_id, i_gid, i_img, i_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_imp
    where i_id = #{iId,jdbcType=INTEGER}
  </select>
  <select id="selectAllImpByGoodsId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_imp
    where i_gid = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_imp
    where i_id = #{iId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Imp">
    insert into t_imp (i_id, i_gid, i_img, 
      i_flag)
    values (#{iId,jdbcType=INTEGER}, #{iGid,jdbcType=INTEGER}, #{iImg,jdbcType=VARCHAR}, 
      #{iFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Imp">
    insert into t_imp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iId != null">
        i_id,
      </if>
      <if test="iGid != null">
        i_gid,
      </if>
      <if test="iImg != null">
        i_img,
      </if>
      <if test="iFlag != null">
        i_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iId != null">
        #{iId,jdbcType=INTEGER},
      </if>
      <if test="iGid != null">
        #{iGid,jdbcType=INTEGER},
      </if>
      <if test="iImg != null">
        #{iImg,jdbcType=VARCHAR},
      </if>
      <if test="iFlag != null">
        #{iFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Imp">
    update t_imp
    <set>
      <if test="iGid != null">
        i_gid = #{iGid,jdbcType=INTEGER},
      </if>
      <if test="iImg != null">
        i_img = #{iImg,jdbcType=VARCHAR},
      </if>
      <if test="iFlag != null">
        i_flag = #{iFlag,jdbcType=INTEGER},
      </if>
    </set>
    where i_id = #{iId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Imp">
    update t_imp
    set i_gid = #{iGid,jdbcType=INTEGER},
      i_img = #{iImg,jdbcType=VARCHAR},
      i_flag = #{iFlag,jdbcType=INTEGER}
    where i_id = #{iId,jdbcType=INTEGER}
  </update>
</mapper>