<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.InstallMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Install">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="dsid" jdbcType="INTEGER" property="dsid" />
    <result column="expectedtime" jdbcType="TIMESTAMP" property="expectedtime" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gid, dsid, expectedtime, aid, type, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from install
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from install
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Install">
    insert into install (id, gid, dsid, 
      expectedtime, aid, type, 
      info)
    values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{dsid,jdbcType=INTEGER}, 
      #{expectedtime,jdbcType=TIMESTAMP}, #{aid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Install">
    insert into install
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="dsid != null">
        dsid,
      </if>
      <if test="expectedtime != null">
        expectedtime,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="dsid != null">
        #{dsid,jdbcType=INTEGER},
      </if>
      <if test="expectedtime != null">
        #{expectedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Install">
    update install
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="dsid != null">
        dsid = #{dsid,jdbcType=INTEGER},
      </if>
      <if test="expectedtime != null">
        expectedtime = #{expectedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Install">
    update install
    set gid = #{gid,jdbcType=INTEGER},
      dsid = #{dsid,jdbcType=INTEGER},
      expectedtime = #{expectedtime,jdbcType=TIMESTAMP},
      aid = #{aid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>