<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.User">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_flag" jdbcType="TINYINT" property="userFlag" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_headimg" jdbcType="VARCHAR" property="userHeadimg" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_password, user_flag, user_phone, user_headimg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.User">
    insert into t_user (user_id, user_name, user_password, 
      user_flag, user_phone, user_headimg
      )
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userFlag,jdbcType=TINYINT}, #{userPhone,jdbcType=VARCHAR}, #{userHeadimg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userFlag != null">
        user_flag,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userHeadimg != null">
        user_headimg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userFlag != null">
        #{userFlag,jdbcType=TINYINT},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userHeadimg != null">
        #{userHeadimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userFlag != null">
        user_flag = #{userFlag,jdbcType=TINYINT},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userHeadimg != null">
        user_headimg = #{userHeadimg,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_flag = #{userFlag,jdbcType=TINYINT},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_headimg = #{userHeadimg,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

  <select id="userlogin"  parameterType="string" resultMap="BaseResultMap">
    select     <include refid="Base_Column_List" /> from t_user where user_name=#{name}
  </select>
</mapper>